/* imports */
/* base styles */
* {
  box-sizing: border-box;
}
html {
  position: relative;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
html.overflow {
  overflow: hidden;
}
html,
body {
  height: 100%;
  min-width: 1024px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: normal;
}
p {
  margin: 0;
}
main {
  min-height: 100%;
  padding-bottom: 60px;
}
main.fill {
  height: 100%;
}
.section {
  padding: 65px 0;
}
.section--rectangles {
  color: #ffffff;
}
.section--desktop {
  background-image: url('/img/desktop.png');
  background-position: center center;
  background-size: cover;
}
.section--green {
  background-color: #00c485;
}
.section--preview {
  min-height: 700px;
}
.section--fill {
  height: 100%;
}
.rectangles {
  background-image: url('/img/rectangles.png');
  /* radial-gradient(circle 327px at 50% 241.61%, #3aa1cb 0%, #2f82a4 100%);*/
  background-position: center center;
  background-size: cover;
}
.relative {
  position: relative;
}
.container {
  position: relative;
  width: 1024px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.col-4,
.col-8,
.col-5,
.col-7 {
  position: relative;
  width: 100%;
}
.col-4 {
  -ms-flex: 0 0 33.333333%;
      flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  -ms-flex: 0 0 41.666667%;
      flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-7 {
  -ms-flex: 0 0 58.333333%;
      flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  -ms-flex: 0 0 66.666667%;
      flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-offset-5 {
  margin-left: 41.666667%;
}
.infoblock {
  color: #ffffff;
}
.infoblock__title {
  margin-bottom: 15px;
  font-size: 24px;
}
.infoblock__desc {
  margin-bottom: 30px;
  font-size: 16px;
}
.infoblock--bordered {
  border-left: 1px solid #95bbcb;
  padding: 15px 30px;
}
.infoblock--preview {
  padding: 15px 0;
  max-width: 650px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}
.promo {
  text-align: center;
  color: #ffffff;
  padding: 0 30px;
}
.promo__image-block {
  display: inline-block;
  margin-bottom: 30px;
  width: 180px;
  height: 180px;
  border-radius: 90px;
  overflow: hidden;
}
.promo__title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 20px;
}
.promo__image {
  width: 100%;
  height: 100%;
  transition: all .5s ease;
  cursor: pointer;
}
.promo__image:hover {
  -ms-transform: scale(1.1);
      transform: scale(1.1);
  opacity: .8;
}
.promo__desc {
  font-size: 14px;
  line-height: 20px;
}
.macbook {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 40%;
  max-width: 705px;
  height: auto;
  background-image: url('/img/macbook-pro-retina.png');
  background-position: right center;
  background-repeat: no-repeat;
}
.logo {
  width: 60px;
  height: 60px;
  padding: 17px 14px;
  background-color: #f7f7f8;
  text-align: center;
  border-radius: 30px;
  margin-bottom: 35px;
  cursor: pointer;
}
.logo--header {
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 7px 5px;
  overflow: hidden;
  margin-top: 13px;
}
/* BUTTONS */
.btn {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.btn--green {
  background-color: #00c586;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
  transition: all 0.3s ease ;
}
.btn--green:hover {
  box-shadow: none;
  background-color: #00df97;
}
.btn--install {
  display: block;
  width: 400px;
  text-align: center;
  font-size: 24px;
  padding: 21px 0;
}
.btn--download {
  width: 520px;
  height: 70px;
  font-size: 24px;
  line-height: 70px;
  margin-bottom: 30px;
}
/* LINKS */
.text-link {
  font-weight: bold;
  text-decoration: underline;
  color: #ffffff;
}
.text-link:hover {
  color: #3396bd;
}
.link {
  display: inline-block;
  color: #ffffff;
  border-radius: 2px;
  border: 1px solid #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.link--sm {
  font-size: 12px;
  padding: 5px 15px;
  margin-bottom: 45px;
}
.link--md {
  font-size: 16px;
  padding: 15px 45px;
}
.link:hover {
  text-decoration: underline;
}
/* reviews */
.review {
  -ms-flex: 1;
      flex: 1;
  padding: 0 30px;
}
.review__desc {
  padding: 25px 15px;
  margin-bottom: 15px;
  border-radius: 2px;
  border: 1px solid #ffffff;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.header {
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.24);
}
.footer {
  height: 60px;
  background-color: #2d2d2d;
  margin-top: -60px;
}
.footer--op {
  background-color: rgba(0, 0, 0, 0.24);
}
.copyright {
  float: right;
  margin-right: 15px;
  color: #ffffff;
  font-size: 12px;
  line-height: 60px;
}
/* tables */
.table {
  width: 100%;
  background-color: #ffffff;
  border-spacing: 0;
  border-collapse: collapse;
  border: 1px solid #57a2c1;
  margin-bottom: 15px;
  cursor: pointer;
}
.table__cell {
  font-size: 14px;
  padding: 15px;
  color: #313131;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #4b97b6;
  border-top: 1px solid #4b97b6;
}
.table__cell:first-child {
  text-align: left;
}
.table__cell--green {
  background-color: #01c683;
  color: #ffffff;
  border-left: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
}
.table__row:first-child .table__cell {
  border-top: 1px solid #57a2c1;
}
thead __cell {
  border-top: none;
}
.table-container {
  width: 100%;
}
.table-description {
  color: #ffffff;
  text-align: center;
  font-size: 12px;
}
.shape {
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  width: auto;
  width: 20px;
  height: 15px;
}
.shape--yes {
  background-image: url('/img/shape_yes.png');
}
.shape--no {
  background-image: url('/img/shape_no.png');
}
.shape--star {
  height: 20px;
  background-image: url('/img/shape_star.png');
}
.shape--star-clear {
  height: 20px;
  background-image: url('/img/shape_star--clear.png');
}
.shape--up {
  background-image: url('/img/shape_up.png');
}
.shape--down {
  background-image: url('/img/shape_down.png');
}
.shape--sid {
  background-image: url('/img/shape_sid.png');
}
.review__rating {
  position: relative;
  display: table;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.review__row {
  position: relative;
  display: table-row;
}
.review__row::after,
.review__row::before {
  position: relative;
  display: table-cell;
  top: -0.75em;
  width: 50%;
  content: " ";
  border-bottom: 1px solid #7fe1c2;
  z-index: 1;
}
.review__row::before {
  left: 0;
}
.review__row::after {
  right: 0;
}
.review__shapes {
  display: table-cell;
  padding: 0 15px;
  white-space: nowrap;
}
/* adds */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix {
  clear: both;
}
/* block-download */
.block-download {
  color: #ffffff;
  text-align: center;
  height: 460px;
  margin-top: 150px;
}
.block-download__title {
  font-size: 28px;
  margin-bottom: 30px;
}
.block-download__desc {
  font-size: 16px;
  margin-bottom: 60px;
}
.block-download__steps {
  margin-bottom: 50px;
}
.block {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}
.block__desc {
  padding-top: 15px;
}
.block__header {
  position: absolute;
  top: -50px;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  left: 0;
  right: 0;
  margin: auto;
}
.block__content {
  padding: 35px;
}
.block__footer {
  background-color: #00c485;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  height: 70px;
  line-height: 70px;
}
.block--active {
  width: 770px;
  height: 364px;
  background-color: #ffffff;
  color: #666666;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}
.block--active__title {
  font-eize: 24px;
  margin-bottom: 15px;
}
.block--active__desc {
  font-size: 16px;
  margin-bottom: 25px;
}
.step {
  -ms-flex: 1;
      flex: 1;
}
.step__number {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: #5ca6c4;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 70px;
}
/* menu */
.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  height: 70px;
}
.menu__link {
  color: #ffffff;
  line-height: 70px;
  font-size: 16px;
  text-decoration: none;
}
.menu__link:hover {
  text-decoration: underline;
}
.popup {
  position: fixed;
  left: 0;
  right: 0;
  width: 480px;
  margin: 0 auto;
  margin-top: 150px;
  padding: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 2px 4px rgba(0, 0, 0, 0.5);
  background-color: #ffffff;
  z-index: 2201;
  /*display: none;*/
}
.popup__bg {
  top: 0;
  position: fixed;
  height: 100%;
  width: 100%;
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.25);
  z-index: 2000;
  /*	display: none;*/
}
.popup__title {
  font-size: 24px;
  margin-bottom: 15px;
}
.popup__subtitle {
  margin-bottom: 5px;
}
.popup__list {
  margin-top: 0;
  padding-left: 30px;
}
.popup__logo {
  position: absolute;
  right: 15px;
  top: 15px;
}
.popup__buttons {
  float: right;
}
.popup__button {
  padding: 5px 15px;
}
.process {
  width: 100%;
  font-size: 12px;
  color: #a1a1a1;
}
.process__body {
  height: 5px;
  width: 100%;
  border-radius: 3px;
  background-color: #e8e8e8;
}
.process__filled {
  height: 5px;
  background: #3396bd;
  float: left;
  border-radius: 3px;
}
.process__footer {
  line-height: 15px;
}
.process__header,
.process__body {
  margin-bottom: 8px;
}
